packages
bin/
obj/
*.suo
*.zip
.idea/
*.sln.DotSettings.user
*~
.DS_Store
*.csproj.user
*.userprefs
*.user
*.tmplic
*.crunchsolution.cache
*.ncrunchsolution.user
*.licenses
*.lc
.vs/
GeneratedAssemblyInfo.cs
*.userprefs
*.nupkg
